# Homework 10:

For questions 1-4 use the orthologs.sqlite database we created in class (include the database in the directory with the homework when returning it to github).

__Exercise 1.__ Create a query that will return the gene name, cai value and sequence for all yeast genes with CAI values larger than 0.85.

In [13]:
import pandas as pd
import ipython_genutils
import sqlite3 as sql

con = sql.connect("orthologs.sqlite")
cur = con.cursor()
%load_ext sql
%sql sqlite:///orthologs.sqlite

# pd.read_sql_query('SELECT * FROM orthologs LEFT JOIN cai on orthologs.cerevisiae= cai.title LEFT JOIN sequences on orthologs.cerevisiae = sequences.gene_name',con)

# pd.read_sql_query('SELECT * FROM orthologs LEFT JOIN cai on orthologs.cerevisiae= cai.title LEFT JOIN sequences on orthologs.cerevisiae = sequences.gene_name WHERE cai > 0.85',con)
pd.read_sql('SELECT title, cai, seq FROM sequences LEFT JOIN cai ON sequences.gene_name WHERE cai > 0.85', con)
# pd.read_sql('SELECT gene_name, cai, seq FROM orthologs, gff, cai, sequences WHERE chrom = "chrmt" AND cai.title=gff.acc AND cai > 0.85',con)

          title    CAI                                                seq
0       YAL038W  0.893  TGACTGAAACTCCTGTGAAACCTTAGAAAGAATACCGCTATGAAAT...
1       YBR118W  0.876  TGACTGAAACTCCTGTGAAACCTTAGAAAGAATACCGCTATGAAAT...
2       YGL030W  0.865  TGACTGAAACTCCTGTGAAACCTTAGAAAGAATACCGCTATGAAAT...
3       YGR192C  0.924  TGACTGAAACTCCTGTGAAACCTTAGAAAGAATACCGCTATGAAAT...
4       YGR254W  0.871  TGACTGAAACTCCTGTGAAACCTTAGAAAGAATACCGCTATGAAAT...
...         ...    ...                                                ...
411535  YLR044C  0.904  ATGACCACACTTATAAATAAGATGGCACGAATGTTAACTATTTTTT...
411536  YLR061W  0.859  ATGACCACACTTATAAATAAGATGGCACGAATGTTAACTATTTTTT...
411537  YLR110C  0.870  ATGACCACACTTATAAATAAGATGGCACGAATGTTAACTATTTTTT...
411538  YPR043W  0.872  ATGACCACACTTATAAATAAGATGGCACGAATGTTAACTATTTTTT...
411539  YPR080W  0.871  ATGACCACACTTATAAATAAGATGGCACGAATGTTAACTATTTTTT...

[411540 rows x 3 columns]

__Exercise 2.__ Modify the query above to return the gene name in yeast, the gene names in the other three species, the cai value and the sequence for all yeat genes with a cai value larger that 0.8 and that have orthologs in the other three species.

In [5]:
pd.read_sql('select title, mikatae, paradoxus, bayanus, cai, seq FROM orthologs LEFT JOIN cai ON orthologs.cerevisiae = cai.title LEFT JOIN sequences on orthologs.cerevisiae = sequences.gene_name WHERE cai > 0.8' , con)

,title,mikatae,paradoxus,bayanus,CAI,seq
0,YAL038W,133,366,146,0.893,ATGTCTAGATTAGAAAGATTGACCTCATTAAACGTTGTTGCTGGTT...
1,YBR181C,575,1733,1653,0.846,ATGAAGTTGAACATTTCTTACCCAGTCAACGGGTCTCAAAAGACCT...
2,YCR012W,2014,2464,2653,0.815,ATGTCTTTATCTTCAAAGTTGTCTGTCCAAGATTTGGACTTGAAGG...
3,YCR031C,1948,2539,2721,0.805,ATGTCTAACGTTGTTCAAGCTCGTGACAATTCCCAAGTTTTTGGTG...
4,YEL034W,5747,5869,6110,0.814,ATGTCTGACGAAGAACATACCTTTGAAACTGCTGACGCTGGTTCCT...
5,YGL123W,8023,8791,8164,0.801,ATGTCTGCTCCAGAAGCTCAACAACAAAAGAGAGGTGGTTTCGGTG...
6,YGL135W,8073,8842,8219,0.832,ATGTCTAAGATCACCTCTTCTCAAGTCAGAGAACACGTCAAGGAAT...
7,YGR254W,9167,9320,9559,0.871,ATGGCTGTCTCTAAAGTTTACGCTAGATCCGTCTACGACTCCCGTG...
8,YHL015W,9576,10453,23293,0.827,ATGTCTGACTTTCAAAAGGAAAAGGTTGAAGAACAAGAACAACAAC...
9,YHL033C,9483,10537,10119,0.842,ATGGCCCCAGGTAAGAAAGTCGCTCCAGCTCCATTCGGTGCTAAGT...
10,YHR174W,10272,9737,10953,0.892,ATGGCTGTCTCTAAAGTTTACGCTAGATCCGTCTACGACTCCCGTG...
11,YJL052W,12006,11467,7692,0.856,ATGATCAGAATTGCTATTAACGGTTTCGGTAGAATCGGTAGATTGG...
12,YJL190C,11505,12007,12309,0.812,ATGACCAGATCTTCCGTTTTAGCTGATGCTTTGAATGCCATTAACA...
13,YJR123W,12651,12748,13807,0.838,ATGTCTGACACCGAAGCTCCAGTTGAAGTTCAAGAAGATTTCGAAG...
14,YKL060C,13447,13709,14543,0.869,ATGGGTGTTGAACAAATCTTAAAGAGAAAGACCGGTGTCATCGTTG...
15,YKL152C,13136,14038,14168,0.811,ATGCCAAAGTTAGTTTTAGTTAGACACGGTCAATCCGAATGGAACG...
16,YLR355C,15884,15522,16470,0.802,ATGTTGAGAACTCAAGCCGCCAGATTGATCTGCAACTCCCGTGTCA...
17,YML024W,16317,17429,17865,0.810,ATGGGTAGAGTTAGAACCAAGACCGTCAAGCGTGCTTCTAAGGCTT...
18,YOL039W,19423,20163,22682,0.804,ATGAAGTACTTAGCTGCTTACCTATTATTGAACGCTGCTGGTAACA...
19,YOL086C,19645,19978,22315,0.811,ATGTCTATCCCAGAAACTCAAAAAGGTGTTATCTTCTACGAATCCC...
20,YOL120C,19772,19865,22100,0.812,ATGGGTATCGATCACACTTCCAAGCAACACAAGAGATCTGGTCACA...
21,YOR063W,19967,20560,22996,0.830,ATGTCTCACAGAAAGTACGAAGCACCACGTCACGGTCATTTAGGTT...
22,YOR369C,20601,21712,24125,0.844,ATGTCTGACGTTGAAGAAGTCGTTGAAGTTCAAGAAGAAACTGTTG...
23,YPL090C,21951,22560,25232,0.837,ATGAAGTTGAACATTTCTTACCCAGTTAACGGGTCTCAAAAGACCT...
24,YPL131W,21794,22413,25389,0.830,ATGGCTTTCCAAAAAGACGCTAAGTCCTCTGCTTACTCCTCTCGTT...
25,YPL220W,21446,22041,24818,0.821,ATGTCCAAGATCACTTCTTCTCAAGTCAGAGAACACGTCAAGGAAT...
26,YPR080W,22559,23137,25835,0.871,ATGGGTAAAGAGAAGTCTCACATTAACGTTGTCGTTATCGGTCATG...

__Exercise 3.__ Perform the same query as above, but this time include the chromosome number of the gene in the output.

In [3]:
# pd.read_sql_query("select * from gff;",con).head()
#pd.read_sql_query('select chrom, title, mikatae, paradoxus, bayanus, cai, seq FROM orthologs LEFT JOIN cai ON orthologs.cerevisiae = cai.title LEFT JOIN sequences on orthologs.cerevisiae = sequences.gene_name LEFT JOIN gff ON cai.title WHERE cai > 0.8' , con)

#pd.read_sql_query("SELECT title, cai, chrom, seq FROM cai, sequences, orthologs, gff WHERE CAI > 0.8 AND (gene_name = cerevisiae OR gene_name = mikatae OR gene_name = paradoxus OR gene_name = bayanus) AND gene_name = title AND gene_name = acc", con)
#pd.read_sql_query("SELECT title, cai, chrom, seq FROM cai, sequences, orthologs, gff WHERE CAI > 0.8", con)


#pd.read_sql_query('select chrom, count(chrom), title, mikatae, paradoxus, bayanus, cai, seq FROM orthologs LEFT JOIN gff GROUP BY chrom LEFT JOIN cai ON orthologs.cerevisiae = cai.title LEFT JOIN sequences on orthologs.cerevisiae = sequences.gene_name WHERE cai > 0.8' , con)

pd.read_sql_query("select count(chrom) FROM gff GROUP BY chrom LEFT JOIN otrthologs.cerevisiae = cai.title LEFT JOIN sequences ON orthologs.cerevisiae = sequences.gene_name", con)

NameError: name 'pd' is not defined

__Exercise 4.__ Now generate a table with the number of genes per chromosome that have CAI larger than 0.5 and have orthologs in the other three yeast species.

In [2]:
pd.read_sql_query('Select chrom, title, CAI, mikatae, paradoxus, bayanus FROM orthologs LEFT JOIN sequences on orthologs.cerevisiae = sequences.gene_name LEFT JOIN gff ON orthologs.cerevisiae = gff.acc LEFT JOIN cai ON orthologs.cerevisiae = cai.title  WHERE cai > 0.5', con)

NameError: name 'pd' is not defined

__Exercise 5:__ Use the yeast genome gff file that we downloaded in class.

Read about the gff format and write a script that will create a database table with all the yeast genes and chromosomes. GFF files have all the annotation for a genome. For simplicity in our table we are only interested in the lines of the GFF files that give the coordinates of the chromosomes, genes, and tRNA genes. Your table should have the following columns: `ID number, Chromosome number, Start Position, End Position, Strand, Feature, Description`.

All this information should be readily available from the gff file, with the exception of the ID number, which is given as the "ID" in the last column, and you will have to process it a little bit. Again, only include in your table the yeast protein coding genes, tRNA coding genes, and chromosomes. Your final table should have one row per gene for a total of 6,923 rows.

Note that the description of several genes, and even some gene names contain special HTML characters, like %20. To convert these to text you should use the `unquote()` function of the `urllib` package. Do that before trying to use your regular expressions.